:root {
	/* Colors */
	--bg1: rgb(63, 60, 85);
	--bg2: rgb(40, 42, 54);
	--button: rgb(181, 37, 88);
	--button-header: rgb(68, 71, 90);
	--text: rgb(237, 237, 231);

/* Default style */
	background-color: var(--bg1);
	--secondary-bg-color: rgb(32, 32, 32);
	--text-color: rgb(248, 248, 242);
	--header-button-color: rgb(47, 49, 41);
	--header-button-color-hover: rgb(85, 87, 80);
	--header-button-color-current: rgb(249, 38, 114);
	--header-button-color-current-hover: rgb(255, 104, 159);
	--button-color: rgb(13, 63, 73);

	--my-primary-color: rgb(253, 151, 31);
	--my-secondary-color: rgb(102, 217, 239);
	--my-tertiary-color: rgb(249, 38, 114);
	
	font-family: Arial;
	color: var(--text);
}

body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	background-color: var(--bg2);
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

h1 {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 40px;
}

div {
	margin: 0;
	padding: 0;
}

a {
	color: var(--text);
}

.sticky-header {
	position: sticky;
	top: 0;
	padding: 6px;
	padding-left: 20px;
	margin: 0;
	background-color: var(--button);
}

.sticky-header-text {
	padding: 0;
	margin: 0;
}

.sub-title {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.header-button {
	background-color: transparent;
	border-color: var(--bg1);
	border-style: solid;
	border-width: 4px;
	border-bottom: none;
	color: var(--text);
	font-weight: bold;
	font-size: 18px;
	margin-top: 35px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.header-button:hover {
	background-color: var(--bg1);
	opacity: 0.7;
}

.header-button:active {
	opacity: 0.3;
}

.header-button-current {
	background-color: var(--bg1);
	border-color: var(--bg1);
	border-style: solid;
	border-width: 4px;
	border-bottom: none;
	color: var(--text);
	font-weight: bold;
	font-size: 18px;
	margin-top: 35px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.header-button-current:hover {
	opacity: 0.7;
}

.header-button-current:active {
	opacity: 0.3;
}

.video-stats {
	font-size: 14px;
	color: var(--text);
	margin-top: 0;
	margin-bottom: 20px;
}

/* .video-author {
	font-size: 14px;
	color: var(--text);
	margin-top: 0px;
}

.video-description {
	font-size: 14px;
	color: var(--text);
	width: 300px;
	margin-bottom: 100px;
}

.bottom-text {
	margin-bottom: 50px;
	font-size: 14px;
	background-color: rgb(227, 65, 64);
	color: white;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;

}

.span-example {
	cursor: pointer;
}
.span-example:hover {
	text-decoration: underline;
} */